<section style="margin-top: 5%">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-6">
                <div>
                    <div class="sectionTitle">Colaboradores</div>
                    <br/><br/>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                <h4 class="panel-title">
                                    Mão 3D
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <p><img src="../../resources/images/LogoMao3D.jpg" alt="" /> </p>
                                        </div>
                                        <div class="col-lg-7">
                                            <br>
                                            <p>Uma rede de apoio a pais, familiares e crianças, adolescentes e indivíduos com
                                                agenesia, afetados pela Síndrome da Brida Amniótica ou outras condições congênitas
                                                e doenças raras que causam malformação ou ausência de membros. </p>
                                        </div>
                                    </div>

                                    <p><strong>Site:</strong> <a href="https://mao3d.wordpress.com/" target="_blank"> https://mao3d.wordpress.com/</a></p>
                                    <p><strong>E-mail:</strong> <a href="mailto:associacaodaramao@gmail.com"> associacaodaramao@gmail.com</a></p>
                                    <p><strong>Página no Facebook:</strong><a href="http://www.facebook.com/associacaodaramao"
                                            target="_blank"> www.facebook.com/associacaodaramao </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <h4 class="panel-title">
                                    Associação dar a Mão
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <p><img src="../../resources/images/darAMao.jpg" alt="" /> </p>
                                        </div>
                                        <div class="col-lg-7">
                                            <br>
                                            <br>
                                            <p>Uma extensão universitária desenvolvido no Instituto de Ciência e Tecnologia
                                                da Universidade Federal de São Paulo (ICT-UNIFESP) em São José dos Campo
                                                com o objetivo de fornecer próteses para crianças no Vale do Paraíba.
                                            </p>
                                        </div>
                                    </div>


                                    <p><strong>Site: </strong> <a href="http://associacaodaramao.blogspot.com.br/"> http://associacaodaramao.blogspot.com.br/ </a></p>
                                    <p><strong>E-mail: </strong> <a href="mailto:mao3d.unifesp@gmail.com"> mao3d.unifesp@gmail.com</a></p>
                                    <p><strong>Página no Facebook:  </strong> <a href="https://www.facebook.com/Mao3D/" target="_blank"> www.facebook.com/Mao3D/ </a></p>
                                    <br/><br/>
                                </div>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" id="produtoId" value="@ViewBag.ProdutoId">

                    <br/><br/>


                    <div class="sectionTitle">Projetos</div>
                    <br/><br/>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <h4 class="panel-title">
                                    Handy Hand
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <p><img src="../../resources/images/HandyHand.jpg" alt="" /> </p>
                                        </div>
                                        <div class="col-lg-7">
                                            <br>
                                            <br>
                                            <p>O Projeto Handyhand produz e entrega gratuitamente as próteses baseadas nos projetos
                                            da e-Nable </p>
                                        </div>
                                    </div>
                                        
                                        <p><strong>Site: </strong> <a href="http://www.handyhand.com.br/" target="_blank"> http://www.handyhand.com.br/</a>                                            </p>
                                        <p><strong>Página no Facebook:</strong><a href="https://www.facebook.com/handyhandbr/?hc_ref=SEARCH"
                                                target="_blank"> https://www.facebook.com/handyhandbr/ </a></p>
                                    </div>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                    <h4 class="panel-title">
                                        Projeto Mãos Dadas
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <div class="row">
                                        <div class="col-lg-5">
                                            <p><img src="../../resources/images/maosdadas.png" alt="" /> </p>
                                        </div>
                                        <div class="col-lg-7">
                                            <br>
                                            <br>
                                            <br>
                                              <p>"Mãos Dadas" é um projeto voluntário com o objetivo de criar e distribuir próteses
                                            funcionais de maneira econômica e sustentável para crianças e adultos que precisam
                                            de uma mão.
                                        </p>
                                        </div>
                                    </div>
                                      
                                        <p><strong>Site: </strong> <a href="https://www.projetomaosdadas.org/" target="_blank"> https://www.projetomaosdadas.org/</a>                                            </p>
                                        <p><strong>Página no Facebook:</strong><a href="https://www.facebook.com/projetomaosdadas.org/"
                                                target="_blank"> https://www.facebook.com/projetomaosdadas.org/ </a></p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <br/><br/>

                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    //Abre o produto que foi selecionado na Home
                    var produtoId = $("#produtoId").val();
                    if (produtoId) {
                        $("#collapse1").collapse('hide');
                        $("#" + produtoId).collapse('show');
                    }
                    //$("#collapse5").collapse('show');
                });
            </script>

</section>