<section class="container-fluid">
    <div class="row">
        <div class="banner">
            <img src="'../../resources/images/banner.jpg" />
        </div>
    </div>
</section>

<section class="container">
    <div id="descricaoHome" class="row">
        <div class="container">
            <div class="col-lg-4">
                <p><img src="../../resources/images/enableBr.jpeg" alt="" /> </p>
            </div>
            <div class="col-lg-8">

                <div class="sectionTitle">E-NABLE Brasil task001</div>
                <br>
                <p>CONHEÇA OS FABRICANTES e todos aqueles que precisam de uma IMPRESSÃO 3D </p>
                <p>E-Nable é uma comunidade de voluntários que desenvolvem tecnologias assistivas acessíveis, como mão impressa
                    em impressoras 3D. Nós fornecemos assistência gratuita para que os indivíduos e as comunidades podem
                    produzir seus próprios equipamentos de apoio.
                </p>
                <p>A mão padrão E-NABLE é totalmente mecânico. Quando você dobrar o punho, cabos conectados no antebraço irá
                    operar os dedos e o polegar para fechar e mão. Quando você soltar o pulso, a mão se abre. Possuímos colaboradores
                    que atendem todo o Brasil.
                </p>
                <p>Somos uma rede de voluntários APAIXONADOS <br> Que utilizam impressão 3D <br> Para poder dar uma MÃO</p>
            </div>
        </div>
    </div>
    <section>
        <br>
        <br>
        <br>