<section style="margin-top: 5%">
    <div class="container">
        <div class="row">

            <div class="col-lg-offset-2 col-lg-6">

                <div>
                    <div class="sectionTitle">Quem Somos</div>
                    <br/><br/>
                    <p>A Enable é uma organização que busca ajudar a construir e entregar próteses produzidas por impressoras
                        3d. Nossos esforços são possíveis, através de diferentes colaboradores, doações e voluntários.
                    </p>
                    <p>Atualmente, existe uma grande dificuldade enfrentada por pessoas com deficiências no Brasil:
                        <ul>
                            <li>As próteses convencionais podem custar de R$6 a R$400 mil;</li>
                            <li>Pacientes chegam a esperar mais de 1 ano para receberem uma prótese funcional via o SUS;</li>
                            <li>Não existem próteses infantis fornecidas pelo SUS. O deficiente físico deve esperar a fase adulta
                                para solicitar uma; </li>
                            <li>Aproximadamente 7 mil crianças por ano nascem com alguma deformação no membro superior. </li>
                        </ul>
                    </p>
                    <p>Com os avanços das tecnologias 3D, é possível reduzir o custo desta produção para menos de R$300. Isso
                        significa que estes dispositivos podem chegar a um público muito maior.
                    </p>
                    <p>Essa comunidade é um grupo em vários estados do brasil e por várias partes do planeta que estão usando
                        suas impressoras 3D, para “imprimir” mãos e braços para as pessoas.
                    </p>
                    <p>São pessoas que colocaram de lado suas diferenças políticas, religiosas, culturais e pessoais para colaborarem
                        com meios de tornar a impressão de mãos e braços possível àqueles que nasceram com deformidades ou
                        perderam devido a algum acidente.
                    </p>
                    <p>A comunidade é formada por professor, alunos, engenheiros, cientistas, médicos, pensadores, designers,
                        parentes, crianças, artistas, sonhadores entre várias outras pessoas que pretendem fazer a diferença
                        e “dar uma mãozinha” para ajudar.</p>
                </div>
            </div>
        </div>
        <br/>
    </div>
</section>
</script>